extends layout

block header
  h1 Topics Library

block content
  - topics = env.helpers.getSortedTopics(contents);
  - topics.forEach(function(t, i){
  -   if (i > 1) t.prevTopic = topics[i-1];
  -   if (i < topics.length - 1) t.nextTopic = topics[i+1]
  - });
  ul.topic-index
    - var alphabet = {}, title;
    each topic in topics
      - if (!topic.title) continue
      - title = topic.metadata.indexTitle || topic.title
      - alphabet[title.toLowerCase().substr(0,1)] = 1
    each val, letter in alphabet
      li
        a(href='#'+letter)= letter
    li
      a(href='#all') all

  - var initial, id, attributes, title;
  each topic in topics
    - title = topic.metadata.indexTitle || topic.title
    - initial = title.toLowerCase().substr(0, 1);
    - attributes = { 'data-initial': initial }
    if initial != id
      - id = initial
      - attributes.id = id
    article.listing&attributes(attributes)
      header.clearfix
        h2.pull-left= title
        ul.nav.nav-pills.pull-right
          if topic.html
            li: a(
              href=topic.url,
              title="html view of "+topic.title
            ).label.label-info view html &nbsp;
              i.fa.fa-file-code-o
          if topic.metadata && topic.metadata.pdf
            li: a(
              href="http://www.gracenotes.info/documents/TOPICS_DOC/"+topic.metadata.pdf,
              title="pdf download of "+topic.title
            ).label.label-info view pdf &nbsp;
              i.fa.fa-file-pdf-o
      if topic.metadata && topic.metadata.description
        p.text-muted.description= topic.metadata.description
  script(src="/topics/toc.js")



