extends layout

block header
  h1 Topics Library

block content
  - var topics = Object.keys(contents.topics).sort();
  ul.topic-index
    - var alphabet = {};
    each article in topics
      - if (!contents.topics[article].html) continue
      - alphabet[article.toLowerCase().substr(0,1)] = 1
    each val, letter in alphabet
      li
        a(href='#'+letter)= letter
    li
      a(href='#all') all

  - var initial, id, attributes, article;
  each filename in topics
    - article = contents.topics[filename]
    - if (!article.html) continue
    - initial = article.filename.split('/').pop().toLowerCase().substr(0, 1);
    - attributes = { 'data-initial': initial }
    if initial != id
      - id = initial
      - attributes.id = id
    article.listing&attributes(attributes)
      header.clearfix
        h2.pull-left= article.title
        ul.nav.nav-pills.pull-right
          if article.html
            li: a(
              href=article.url,
              title="html view of "+article.title
            ).label.label-info view html &nbsp;
              i.fa.fa-file-code-o
          if article.metadata && article.metadata.pdf
            li: a(
              href="http://www.gracenotes.info/documents/TOPICS_DOC/"+article.metadata.pdf,
              title="pdf download of "+article.title
            ).label.label-info view pdf &nbsp;
              i.fa.fa-file-pdf-o
      if article.metadata && article.metadata.description
        p.text-muted.description= article.metadata.description
  script(src="/topics/toc.js")



