extends layout

block header
  h1 Topic Library

block content
  - topics = env.helpers.getSortedTopics(contents);
  - topics.forEach(function(t, i){
  -   if (i > 1) t.prevTopic = topics[i-1];
  -   if (i < topics.length - 1) t.nextTopic = topics[i+1]
  - });
  ul.topic-index
    - var alphabet = {}, title;
    each topic in topics
      - if (!topic.title) continue
      - title = topic.metadata.indexTitle || topic.title
      - alphabet[title.toLowerCase().substr(0,1)] = 1
    each val, letter in alphabet
      li
        a(href='#'+letter)= letter
    li
      a(href='#all') all

  - var initial, id, attributes, title;
  each topic in topics
    - title = topic.metadata.indexTitle || topic.title
    - initial = title.toLowerCase().substr(0, 1);
    - attributes = { 'data-initial': initial }
    if initial != id
      - id = initial
      - attributes.id = id
    article.listing.row&attributes(attributes)
      header.clearfix.col-lg-8
        h2
          a(href=topic.url)= title
        if topic.metadata && topic.metadata.description
          p.description= topic.metadata.description
      footer.clearfix.col-lg-4
        div.btn-group.topic-links
          a( href=topic.url, title="html view of "+topic.title).btn.btn-default.btn-sm view online
          a( href=topic.url.replace(/\.html$/, '.pdf'), title="pdf download of "+topic.title).btn.btn-default.btn-sm
            i.fa.fa-file-pdf-o
            | &nbsp; view pdf
          a( href=topic.url.replace(/\.html$/, '.epub'), title="epub download of "+topic.title).btn.btn-default.btn-sm
            i.fa.fa-book
            | &nbsp; download epub

block append footer-scripts
  script(src="/topics/toc.js")



