extends layout

block header
  include partials/menu
  h1 Topics Library

block content
  ul.topic-index
    - var alphabet = {};
    each article in contents.topics
      - alphabet[article.filename.split('/').pop().toLowerCase().substr(0,1)] = 1
    each val, letter in alphabet
      li
        a(href='#'+letter)= letter
    li
      a(href='#all') all

  - var initial, id, attributes;
  each article in contents.topics
    - initial = article.filename.split('/').pop().toLowerCase().substr(0, 1);
    - attributes = { 'data-initial': initial }
    if initial != id
      - id = initial
      - attributes.id = id
    article.listing&attributes(attributes)
      header
        h2
          a(href=article.url)= article.title
          | &nbsp;
          if article.metadata && article.metadata.pdf
            big: a(
              href="http://www.gracenotes.info/documents/TOPICS_DOC/"+article.metadata.pdf,
              title="pdf download of "+article.title
            ).text-info.pull-right
              i.fa.fa-file-pdf-o
      if article.metadata && article.metadata.description
        p.text-muted.description= article.metadata.description
  script(src="/topics/toc.js")



