extends layout

block append vars
  if page.metadata.tableOfContents
    - bodyclass = 'article-detail table-of-contents'
  else
    - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  - nextprev = env.helpers.getNextPrevTopics(page, contents);
  div.next-prev
    if nextprev.prev
      a(href=nextprev.prev.url)!= "&lt; " + nextprev.prev.title
    if nextprev.next
      a(href=nextprev.next.url)!= nextprev.next.title + " &gt;"
  h1= page.title
  if page.metadata.subtitle
    div.subtitle= page.metadata.subtitle
  if page.metadata.author
    div.author= page.metadata.author


block content
  article.article
    section.content!= typogr(page.html).chain().widont().smartypants().value()

block prepend footer
  div.nav
    a(href=contents.topics.index.url) « Topics List
  script(src="/js/toc.js")


